langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
langchain_openai
chromadb
sentence_transformers
langchain_huggingface
tf_keras
faiss-cpu
langchain_chroma